name: DevSecOps Pipeline

on:
  push:
  pull_request:

jobs:
  security-scan:
    name: SAST + Syntax check for all apps
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flask bandit

      - name: Run Bandit on entire repo (SAST)
        run: |
          bandit -r . || true

      - name: Syntax check for all app.py files
        run: |
          find . -name "app.py" -print -exec python -m py_compile {} \;

